.cart {
    width: 100%;
    max-width: 330px;
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(110%, 0);
    transition: all 400ms ease;
  }
  
  .cart-items {
    flex-grow: 1;
    overflow: auto;
  }
  
  .cart-resume {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 35px 0 15px;
    border-top: 1px solid #ddd;
  }
  
  .cart-items .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart--active {
    transform: translate(0, 0);
  }
  .cartitens-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.finalizar{
  padding: 10px;
  color: #000;
  background-color: #d2eeb3;
  width: 100%;
}
.finalizar:hover{
  width: 100%;
  background-color: #177414;
  color: #fff;
  transform: translateY(0px);
}
.clear-button{
  border:none;
  border-radius: 5px;
  background-color: rgb(227, 54, 54);
  height: 30px;
  width: 300px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin: 10px;
}
.clear-button:hover{
  background-color: red;
}