.area{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #f3e682;
  }
  
  .area:hover{
    background-color: rgb(186, 50, 50);
    color: #FFF;
  }
  
  .area a{
    text-decoration: none;
    color:#000;
    transition: all 0.5s;
  }
  
  .area a:hover{
    color: #FFF;
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
  }
  
  .nome{
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .foto{
    border: 10px inset #E03C00;
    border-radius: 15px;
    margin: 10px;
  }
  

  .sinopse{
    margin: 10px;
    text-align: justify;
    color: #000;
  }
  
  
  @media screen and (max-width: 780px) {
    .post{
      width: 500px;
    } 
  
  }
  
  @media screen and (max-width: 580px) {
    .post{
      width: 300px;
    } 
  
  }
  
  @media screen and (max-width: 350px) {
    .post{
      width: 200px;
    } 
  }
