
 
 /* Estilos para os inputs */
 input,
 textarea {
  max-width: 600px;
   width: 100%; /* Largura total */
   padding: 15px; /* Espaçamento interno */
   margin-bottom: 10px; /* Espaçamento abaixo do input */
   border: 1px solid #ccc; /* Borda */
   border-radius: 5px; /* Borda arredondada */
 }
 .btn-contato3{
    padding: 10px ;
    font-size: 15px;
    font-weight: 600;
    background-color: #EEE1B3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
    color: #000;
    margin: 5px;
  }
  .btn-contato3:hover {
    color: #000;
    transform: scale(1.05);
  }
  #finalizarCompra{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  #endereco{
    background-color: rgb(112, 235, 139);
  }