footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #645a37;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #EEE1B3;
}

footer .line-footer p i {
    color: #EEE1B3;
    font-size: 22px;
}

footer .line-footer p a {
    color: #EEE1B3;
}
.logo-footer{
    width: 150px;
    position: relative;
}
.logo-footer img{
    width: 100%;
}


footer nav.menu-footer a{
    background-color: #EEE1B3;
    padding: 15px;
    border-radius: 25px;
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

footer nav.menu-footer a:hover {
    color: #000;
    transform: scale(1.05);
}

footer nav ul {
    list-style-type: none;
}

footer nav.menu-footer ul li {
    display: inline-block;
    padding: 0 10px;
}
.bemvindo{
    color: #EEE1B3;
}
#contato-footer{
    display: none;
}

    @media only screen and (max-width: 1020px){
        #contato-footer{
            display: block;
        }
    }
    @media only screen and (max-width: 1020px){
        .bemvindo li{
            font-size: 15px;
        }
    }