h2.titulo {
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #EEE1B3;
}
/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #000;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #EEE1B3;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #EEE1B3;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    color: #000;
}

.img-sobre{
    width: 500px;
    position: relative;
}
.img-sobre{
    width: 100%;
}